@import url('https://fonts.googleapis.com/css?family=Quicksand');

html {
    font-family: 'Quicksand', sans-serif;
}

body {
    text-align: center
    background-color: black;
}

h1 {
  text-transform:uppercase;
  font-size:72px;
  font-family:'Verdana';
  padding:30px;
  text-shadow: 0.1em 0.1em 0 coral, 
                0.2em 0.2em 0 yellow;
}

#fact {
    list-style: none;
    font-size: 2em;
    text-decoration: none;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: coral;
}